.meme-text {
  color:  white;
  font-family: Arial;
  font-size: 30px;
  font-weight: 800;
  left: 20px;
  line-height: 28px;
  margin: 0;
  max-height: 56px;
  padding: 0;
  position: absolute;
  right: 20px;
  text-align: center;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  top: 70%;
  word-break: break-all;
  word-wrap: break-word;
}
form {
  padding: 5px;
}
.meme-image-container {
  background-color: white;
  border: 1px solid black;
  height: 100%;
  position: relative;
  width: fit-content
}
.meme-image {
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: center;
  min-height: 200px;
  width: 600px;
}
.buttons {
  padding: 5px;

}
.thumbmeme {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
.thumbmeme:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
