    .meme-image-container{
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: 300px;
    margin-top: 15px;
    position: relative;
    width: 300px;
}
    .meme-image{
    height: 300px;
    visibility: visible;
    width: 300px;
}
    .meme-text{
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    position: absolute;
    text-align: center;
    text-decoration: wavy;
    text-shadow: 2px 0 black;
    top: 60%;
    width: 100%;
    word-break: break-all;
}
    .margins{
    float: right;
    margin-right: 33%;
    text-align: center;
    vertical-align: top;
}
    .preMemes{
    float: right;
    margin-left: 10px;
    margin-right: 30%;
    text-align: center;
    vertical-align: top;
}
    .memeMin{
    border: 1px solid black;
    float: right;
    height: 100px;
    margin: 5px 5px 5px 5px;
    width: 100px;
}
    .memes{
    height: 100px;
    width: 100px;
}
