body {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}

.flex {
  display: flex;
}

.meme-image-container {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  border: 1px solid rgb(0, 0, 0);
  filter: drop-shadow(2px 4px 6px black);
  max-width: 600px;
  position: relative;
}

.meme-image {
  border-radius: 12px;
  max-width: 600px;
}

.meme-text {
  color: rgb(255, 255, 255);
  filter: drop-shadow(2px 4px 6px black);
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  word-break: break-all;
}
