body {
  margin: 0;
  padding: 0;
}

#title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}

#container {
  margin: 10px;
  text-align: center;
}

#container input {
  margin-top: 10px;
  padding: 3px;
}

#meme-image-container {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  height: 350px;
  margin: auto;
  position: relative;
  text-align: center;
  width: 500px;
}

#meme-image {
  height: 350px;
  width: 500px;
}

#meme-text {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 38px;
  font-weight: bold;
  left: 10%;
  position: absolute;
  top: 65%;
  word-break: break-all;
}

button {
  margin: 10px 5px 8px;
  padding: 5px;
}