body {
  background-color: burlywood;
  text-align: center;
}
form {
  position: relative;
}
#meme-container{
  display: flex;
  justify-content: center;
}
#meme-image-container {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  height: 768px;
  width: 1366px;
  display: flex;
  justify-content: center;
}
#meme-image {
  height: 768px;
  width: 1366px;
  visibility: visible;
  z-index: 1;
}
#meme-text {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  text-shadow: 0 0 3px rgb(0, 0, 0), 0 0 3px rgb(0, 0, 0), 0 0 3px rgb(0, 0, 0);
  visibility: visible;
  z-index: 2;
  word-wrap: break-word;
  word-break: keep-all;
  bottom: -350px;
}
.meme-button {
  width: 100px;
  height: 100px;
}
#menu-container {
  display: flex;
  justify-content: center;
}
