body {
  background: grey;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 0;
}

button {
  height: 30px;
  width: 150px;
}

img {
  height: 100%;
  width: 100%;
}

input {
  height: 20px;
  margin: 5px;
  text-align: center;
  width: 350px;
}

h1 {
  font-size: 72px;
  font-weight: bold;
  margin: 0;
  padding: 5px;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
}

.btn1 {
  border: 3px dashed red;
}

.btn2 {
  border: 5px double blue;
}

.btn3 {
  border: 6px groove green;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  margin: 0;
  max-width: 1366px;
  padding: 20px;
  text-align: center;
}

.footer {
  font-size: 12px;
  -webkit-text-stroke-width: 0;
}

.item {
  flex: 1;
  margin-bottom: 20px;
  padding: 5px;
}

.meme-image-container {
  align-items: center;
  background: white;
  border: 1px solid black;
  display: flex;
  height: 450px;
  justify-content: center;
  width: 450px;
}

.meme-insert {
  align-items: center;
  background: rgb(255, 255, 255);
  margin: 30px 5px;
  width: 355px;
}

.meme-text {
  font-size: 36px;
  font-weight: bold;
  max-height: 400px;
  max-width: 400px;
  overflow-wrap: break-word;
  position: absolute;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
  top: 320px;
}
