/* body{
  max-height: 768px;
  max-width: 1366px;
  } */
  form {
    margin-bottom: 8px;
  }
  .classeMemeText {
      bottom: 50px;
      color: gray;
      font-size: 100px;
      left: 60px;
      position: absolute;
    }
  .classeImageContainer {
    background-color: rgb(255, 255, 255);
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: 768px;
    margin-top: 5px;
    min-height: 200px;
    position: relative;
    text-align: center;
    width: 1366px;
    }
  .classNemeImage{
    border-color: black;
    border-style: solid;
    border-width: 1px;
    max-height: 768px;
    max-width: 1366px;
    }
.button {
  background-color: #4CAF50; 
  border: none;
  border-radius: 8px;
  color: white;
  margin-right: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px
}