  .meme-image {
    display: visible;
    height: 500px;
    max-width: 500px;
    width: 500px;
  }

  .meme-image-container {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: 500px;
    margin-top: 10px;
    max-width: 500px;
    position: relative;
    width: 500px;
  }

  .meme-text {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-top: 140px;
    max-width: 500px;
    position: absolute;
    text-align: center;
  }