.header{
    background-color: orange;
    font-size: 50px;
    line-height: 80px;
    position: fixed;
    margin-left: 0px;
    text-align: center;
    top: 15px;
    width: 100%;
}

.form{
    clear: both;
    display: inline-block;
    font-size: 25px;
    line-height: 45px;
    margin-left: 20px;
    position: relative;
    top: 120px;
    width: 50%;
}

.meme-image-container {
    background-color: white;
    border:black;
    border-style: solid;
    border-width: 1px;
    margin-left: 20px;
    min-height: 200px;
    position: relative;
    top: 120px;
    width: 50%;
}

.meme-image {
    display: none;
    width: 100%;
    z-index: 0;
}

.meme-text {
    bottom: 40px;
    color: yellow;
    font-family: sans-serif;
    font-size: 3em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
}

body {
    background-color: rgb(56, 109, 223);
}