@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&display=swap');

body {
  background-color: rgb(206, 255, 99);
  padding: 16px;
  margin: 8px;
  font-size: 24px;
  font-family: 'Baloo Thambi 2', cursive;
  color: rgb(179, 138, 52);
}

#text-input {
  margin-bottom: 16px;
}

#meme-insert {
  margin-bottom: 16px;
}

#meme-image-container {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  margin-top: 15px;
  width: 500px;
  height: 500px;
  /* display: flex; */
  font-weight: bold;
  position: relative;
}

#meme-text {
  margin-left: 16px;
  font-weight: bold;
  font-size: 32px;
  position: absolute;
  left: 300px;
  top: 0;
  
}

#meme-image {
  display: none;
  width: 450px;

}

/* #meme-borders {
    
} */

button {
  background-color: rgb(34, 85, 179);
  color: rgb(255, 255, 255);
  padding: 8px;
  border: 1px solid rgb(255, 255, 255);
}

button:hover {
  background-color: rgb(99, 154, 255);
}


